
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
} 

.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 
} 

.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 

.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
} 

.content2 {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.red2 {
  width: 50px; 
  height: 50px; 
  background-color: red; 
  grid-column: 1/3;
  grid-row: 1;
} 

.green2 { 
  width: 50px; 
  height: 50px; 
  background-color: green; 
  grid-column: 2/4;
  grid-row: 2;
} 

.yellow2 {
  width: 50px; 
  height: 50px; 
  background-color: gold; 
  grid-column: 3/5;
  grid-row: 3;
} 

.blue2 {
  width: 50px; 
  height: 50px; 
  background-color: blue; 
  grid-column: 4/6;
  grid-row: 4;
} 

.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.red3 {
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
} 

.green3 {
  width: 100%; 
  height: 100px; 
  background-color: green;
} 

.yellow3 {
  width: 100%; 
  height: 100px; 
  background-color: gold; 
} 

.blue3 {
  width: 100%;
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
} 

.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 400px;
}

.red4 {
  width: 100%; 
  height: 100%; 
  background-color: red; 
  grid-row: 1/3;
} 

.green4 {
  width: 100%; 
  height: 100%; 
  background-color: green; 
} 

.yellow4 {
  width: 100%; 
  height: 100%; 
  background-color: gold; 
} 

.blue4 {
  width: 100%; 
  height: 100%; 
  background-color: blue; 
  grid-column: 1/3;
} 

.content5 {
  height: 400px;
}

.red5 { 
  width: 100px; 
  height: 100px; 
  background-color: red; 
} 

.green5 { 
  width: 100px; 
  height: 100px; 
  background-color: green; 
  float: left;
  margin-right: 15px;
} 

.yellow5 {
  background-color: gold; 
  padding: 10px;
} 

.blue5 {
  width: 100px; 
  height: 100px; 
  background-color: blue; 
} 


.content6 {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}

.red6 {
  background-color: red; 
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 2;
} 

.green6 {
  background-color: green; 
  grid-column: 2/4;
  grid-row: 2/4;
} 

.yellow6 {
  background-color: gold; 
  grid-column: 3/5;
  grid-row: 1/3;
} 

.blue6 {
  background-color: blue; 
  grid-column: 1/5;
  grid-row: 4;
}
